<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hugoiracheta.myapplication1" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="Children Calculator"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar" >
        <activity
            android:name=".MainActivity"
            android:label="Children Calculator"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".hombres"
            android:label="Children Calculator"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            />

        <activity android:theme="@style/AppTheme.NoActionBar" android:name="com.example.hugoiracheta.myapplication1.childs"
            android:screenOrientation="portrait"/>
    </application>

</manifest>